In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt
import os

In [5]:
path = './dataset/'

In [29]:
train = pd.read_csv(path+'train.csv', index_col=0)
test = pd.read_csv(path+'test.csv', index_col=0)

In [30]:
train

         breath_id   R   C  time_step       u_in  u_out   pressure
id
1                1  20  50   0.000000   0.083334      0   5.837492
2                1  20  50   0.033652  18.383041      0   5.907794
3                1  20  50   0.067514  22.509278      0   7.876254
4                1  20  50   0.101542  22.808822      0  11.742872
5                1  20  50   0.135756  25.355850      0  12.234987
...            ...  ..  ..        ...        ...    ...        ...
6035996     125749  50  10   2.504603   1.489714      1   3.869032
6035997     125749  50  10   2.537961   1.488497      1   3.869032
6035998     125749  50  10   2.571408   1.558978      1   3.798729
6035999     125749  50  10   2.604744   1.272663      1   4.079938
6036000     125749  50  10   2.638017   1.482739      1   3.869032

[6036000 rows x 7 columns]

In [31]:
test

         breath_id   R   C  time_step       u_in  u_out
id
1                0   5  20   0.000000   0.000000      0
2                0   5  20   0.031904   7.515046      0
3                0   5  20   0.063827  14.651675      0
4                0   5  20   0.095751  21.230610      0
5                0   5  20   0.127644  26.320956      0
...            ...  ..  ..        ...        ...    ...
4023996     125748  20  10   2.530117   4.971245      1
4023997     125748  20  10   2.563853   4.975709      1
4023998     125748  20  10   2.597475   4.979468      1
4023999     125748  20  10   2.631134   4.982648      1
4024000     125748  20  10   2.665301   4.985373      1

[4024000 rows x 6 columns]

# Columns

id - globally-unique time step identifier across an entire file

breath_id - globally-unique time step for breaths

R - lung attribute indicating how restricted the airway is (in cmH2O/L/S). Physically, this is the change in pressure per change in flow (air volume per time). Intuitively, one can imagine blowing up a balloon through a straw. We can change R by changing the diameter of the straw, with higher R being harder to blow.

C - lung attribute indicating how compliant the lung is (in mL/cmH2O). Physically, this is the change in volume per change in pressure. Intuitively, one can imagine the same balloon example. We can change C by changing the thickness of the balloonâ€™s latex, with higher C having thinner latex and easier to blow.

time_step - the actual time stamp.

u_in - the control input for the inspiratory solenoid valve. Ranges from 0 to 100.

u_out - the control input for the exploratory solenoid valve. Either 0 or 1.

pressure - the airway pressure measured in the respiratory circuit, measured in cmH2O.

In [49]:
train[train['breath_id'] == 1]

    breath_id   R   C  time_step       u_in  u_out   pressure
id
1           1  20  50   0.000000   0.083334      0   5.837492
2           1  20  50   0.033652  18.383041      0   5.907794
3           1  20  50   0.067514  22.509278      0   7.876254
4           1  20  50   0.101542  22.808822      0  11.742872
5           1  20  50   0.135756  25.355850      0  12.234987
..        ...  ..  ..        ...        ...    ...        ...
76          1  20  50   2.553593   4.974474      1   6.399909
77          1  20  50   2.587754   4.978481      1   6.610815
78          1  20  50   2.621773   4.981847      1   6.329607
79          1  20  50   2.655746   4.984683      1   6.540513
80          1  20  50   2.689766   4.987079      1   6.470211

[80 rows x 7 columns]

In [47]:
test[test['breath_id'] == 8]

     breath_id  R   C  time_step       u_in  u_out
id
81           8  5  50   0.000000  16.140384      0
82           8  5  50   0.033946  11.429617      0
83           8  5  50   0.067983  13.755544      0
84           8  5  50   0.101996   9.306066      0
85           8  5  50   0.135891  12.743169      0
..         ... ..  ..        ...        ...    ...
156          8  5  50   2.553779   4.977955      1
157          8  5  50   2.587788   4.981403      1
158          8  5  50   2.621764   4.984308      1
159          8  5  50   2.655959   4.986774      1
160          8  5  50   2.689998   4.988844      1

[80 rows x 6 columns]

In [46]:
test[81:200]

     breath_id   R   C  time_step       u_in  u_out
id
82           8   5  50   0.033946  11.429617      0
83           8   5  50   0.067983  13.755544      0
84           8   5  50   0.101996   9.306066      0
85           8   5  50   0.135891  12.743169      0
86           8   5  50   0.169955   7.150991      0
..         ...  ..  ..        ...        ...    ...
196         11  50  10   1.206659   0.000000      1
197         11  50  10   1.240775   0.000000      1
198         11  50  10   1.275718   0.000000      1
199         11  50  10   1.309991   0.000000      1
200         11  50  10   1.343894   0.000000      1

[119 rows x 6 columns]